*{
	 margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/* Celular Pequeno */
@media(max-width: 320.98px){
    body{
        overflow-x: hidden;
        font-family:Noto Sans, sans-serif;


    }

    #container-fluid{
        margin: 0;
        padding: 0;
        max-width: 320px;
         min-height: 700px;
    }

    #header{
        background:  #0E0816;
        max-width: 320px;
         max-height: 50px;
        margin: 0;
        padding: 0;
    }



    #logo-antherus{
       

    }

    #img-logo{
         max-height: 50px;
         border:1px solid white;
         align-content: center;
    }


    #pesquisa{
        border:1px solid red;
         max-height: 45px;
    }

    #barra-pesquisa{
        min-width: 315px;
        padding-left:2.5em;
        position: relative;
        left:0;
        top:-2.5em;

        min-height: 40px;
         z-index: 0;

    }
    .form-control{
        border:1px solid black;
    }

    #menu-hamburguer{
        position: relative;
        top: 0em;
        left: 0em;
        font-size: 1.8em;
        z-index: 1;
    }

    #btn-pesquisar{
        display: none;
    }

    #menu-deslizante{
        position: relative;
        top:1em;
        z-index: 1;
        background: white;
    }

    #img-perfil-user{
        border:1px solid gray;
        border-radius: 100%;
    }








    #menu{
        padding-top:1em;
        padding-bottom:1em;
    }

    .btn-menu{
        min-width: 310px;
       
        position: relative;
        left: -1em;
        line-height: 2em;
        border-radius: 0px 40px 40px 0px;
        text-align: left;
        padding-left: 1em;
       

    }

    .text-btn-menu{
        position: relative;
        left:1em;
    }

    .qtde-leads-btn-menu{
        position: relative;
        left:1em;
    }

    

    #switch-dark-mode{
        
        max-height: 33px;
        margin-left: 0.5em;
    }



        input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
        }

        #form-atendimento,label {
            
        }

        #label {
            cursor: pointer;
            text-indent: 0px;
            width: 100px;
            height: 30px;
            background: grey;
            display: block;
            border-radius: 100px;
            position: relative;
            top:-1.5em;
        }

        .fa-moon-o{
            position: relative;
            top:0.2em;
            left: 2.4em;
            font-size: 1.4em;
            color: black;
            
        }

        .fa-lightbulb-o{
            position: relative;
            top:0.2em;
            left: 0.2em;
            font-size: 1.5em;
            color: black;
        }





        label:after {
            content: '';
            position: absolute;
            top: 1px;
            left: 0px;
            width: 30px;
            height: 30px;
            background: #fff;
            border-radius: 90px;
            transition: 0.3s;
        }

        input:checked + label {
            background: #bada55;
        }

        input:checked + label:after {
            left: calc(100% - 5px);
            transform: translateX(-110%);
        }

        label:active:after {
            width: 130px;
        }



    #dashboard-area{
        border:1px solid black;
        border-radius:1%;
        min-width: 320px;
        background: lightgray;
        position: relative;
        top: 6em;
    }

    #header-leads-board{
        font-weight: 500;
    }

    #sub-header-leads-board{
        font-weight: 500;
    }

    #display-leads{
         overflow-x: auto;
    }

    .leads{
        background: white;
        max-width: 310px;
        max-height: 70px;
        position: relative;
        left: 0em;
        margin: 0.3em;
        border:1px solid gray;
        border-radius: 5%;

    }

    #leads:hover{
        transform: scale(1.03);
            box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    }


    .modal{
        min-width: 320px;
        position: relative;
        left:0em;
        border:1px solid red;
        padding: 0;
    }

    .modal,.text-msg-leads{
        
        
        
    }

    zz










    .leads-novo{
        color: green;
    }

    .leads-aberto{
        color: blue;
    }

    #envelope{
        position: relative;
        top:0.5em;
        left: 0.5em;
        border-radius: 5%;
    }

    #remetente{
      
       max-width: 180px;
       
       position: relative;
       top:-1em;
       left:1.6em;
       padding-left: 0.3em;
    }

    #data-horario{
       
       max-width: 95px;
       
       position: relative;
       top:-3.3em;
       left:18.5em;
       padding-left: 0.3em;
       font-size: 0.7em;
    }

    #previa-texto-leads{
        max-width: 300px;
       
       white-space: nowrap;
       position: relative;
       top:-2em;
       left: 0.5em;
    }

    footer{

    }


}