
*{
	 margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/* Celular Pequeno */
@media(max-width: 320.98px){

	
body{
		
	  
	    margin: 0 ;
	    padding: 0;
		 background: light-gray; 
		 overflow-x: hidden;
		 font-family:  font-family: Comic Sans MS, Comic Sans, cursive;
		 color:white;
		 
		 background: white;
		 background: rgb(71,23,246);
		background: radial-gradient(circle, rgba(71,23,246,0.9560866582961309) 0%, rgba(30,85,147,1) 150%);

		height: 700px;
		

	}

	html{
		 overflow-x: hidden;

	}

	.container-fluid{
		 
		 width: 60vh;

	}

	#header{
		width:340px;
		background: #0E0816; 
		position: relative;
		left:-1em;
	}

	#img-logo{
		max-width:40vh;
		position: relative;
		left:3em;
		

	}

	#head-line{
		max-width:53vh;
		font-size:1em;

	}

	#header-head-line{
		position: relative;
		top:0.5em;
		left:-0.5em;
	}

	.texto-head-line{
		padding-top: 1em;
		min-width:55vh;
		position: relative;
		left:-0.8em;
		top:-0.5em;
		font-size: 1.5em;
		

	}

	#div-formulario{
		margin-top:1em;

		position: relative;
		top:-1em;
	}

	#header-formulario{
		position: relative;
		top:0.4em;
		left:-0.5em;
	}

	.form-control{
		position: relative;
		top:-0.7em;
	}

	

	#campo-nome-ok{
		position: relative;
		top:-1.5em;
		left:8.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-email-ok{
		position: relative;
		top:-1.8em;
		left:8.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-whatsapp-ok{
		position: relative;
		top:-1.8em;
		left:8.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#validacao-whatsapp{
		position: relative;
		top:-3.5em;
		width: 290px;
	}



	#campo-formulario-nome{
		position: relative;
		top:1em;

	}

	#campo-formulario-email{
		position: relative;
		top:-1.6em;

	}

	#campo-formulario-whatsapp{
		position: relative;
		top:-5em;
	}

	#campo-formulario-aceita-termos{
		position: relative;
		top:-9em;
	}

	#btn-enviar{
		position: relative;
		left:0em;
		top:-11em;

	}

	#enviar{
		color:gray;
	}

	


	


	.campo-formulario{
		max-width: 290px;
		
	}

	#text-aceita-termos{
		position: relative;
		top:-1.6em;
		left:1.1em;
	}


	





	#video{
		max-width:70vh;
		position: relative;
		left:-0.2em;
		top:-12em;
	}

	iframe{
		height: 12em;
		border-radius:5px;
	}


	#texto-auxiliar{
		max-width:70vh;
		position: relative;
		left:-1em;
		top:12em;
		font-weight: 500;
	}

	#header-lista-benificios{
		position: relative;
		top:0em;
		color: #0E0816;
		margin:0.5em;
		font-size: 1.4em;
	}

	#lista-beneficios{
		max-width:51vh;
		position: relative;
		top:-23em;
		left:1em;
		border:1px solid red;
		list-style: none;
		background: yellow;
	}

	.item-lista-beneficios{
		margin:0.5em;
		font-size: 1.2em;
		position: relative;
		left: 0.2em;
	}

	#texto-chamada-final{
		position: relative;
		left:1em;
		font-size: 1.5em;
	}

	.check-lista-beneficios{
		color:green;
	}

	#btn-retorno-formulario{
		position: relative;
		top:-10em;
		left: 2em;
	}

	#retorno-formulario{
		text-decoration: none;
	}

	

	footer{
		position: relative;
		left:-1em;
		top:0;
		text-align: center;
		color:white;
	}

	

	
	





}




/* Celulares até 4,7 Polegadas */
@media (min-width: 321px) and (max-width:  375.97px) {
		body{
		
	  
	    margin: 0 ;
	    padding: 0;
		 background: light-gray; 
		 overflow-x: hidden;
		 font-family:  font-family: Comic Sans MS, Comic Sans, cursive;
		 color:white;
		 
		 background: white;
		 background: rgb(71,23,246);
		background: radial-gradient(circle, rgba(71,23,246,0.9560866582961309) 0%, rgba(30,85,147,1) 150%);

		height: 700px;
		

	}

	html{
		 overflow-x: hidden;

	}

	.container-fluid{
		 
		 width: 60vh;

	}

	#header{
		width:375px;
		background: #0E0816; 
		position: relative;
		left:-1em;
	}

	#img-logo{
		max-width:40vh;
		position: relative;
		left:4em;
		

	}

	#head-line{
		max-width:53vh;
		font-size:1em;

	}

	#header-head-line{
		position: relative;
		top:0.5em;
		left:0em;
	}

	.texto-head-line{
		padding-top: 1em;
		min-width:55vh;
		position: relative;
		left:-0.5em;
		top:-0.5em;
		font-size: 1.5em;
		

	}

	#div-formulario{
		margin-top:1em;

		position: relative;
		top:-1em;
	}

	#header-formulario{
		position: relative;
		top:0.4em;
		left:-0.5em;
	}

	.form-control{
		position: relative;
		top:-0.7em;
	}

	

	#campo-nome-ok{
		position: relative;
		top:-1.5em;
		left:10.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-email-ok{
		position: relative;
		top:-1.8em;
		left:10.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-whatsapp-ok{
		position: relative;
		top:-1.8em;
		left:10.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#validacao-whatsapp{
		position: relative;
		top:-3.5em;
		width: 290px;
	}



	#campo-formulario-nome{
		position: relative;
		top:1em;

	}

	#campo-formulario-email{
		position: relative;
		top:-1.6em;

	}

	#campo-formulario-whatsapp{
		position: relative;
		top:-5em;
	}

	#campo-formulario-aceita-termos{
		position: relative;
		top:-9em;
		left:-0.5em;
	}

	#btn-enviar{
		position: relative;
		left:0.5em;
		top:-11em;

	}

	#enviar{
		color:gray;
	}

	


	


	.campo-formulario{
		width: 350px;
		
		
	}

	#text-aceita-termos{
		position: relative;
		top:-1.6em;
		left:0.8em;
		font-size:1em;
		min-width: 360px;
		

		
	}

	

	#header-video{
		
		font-size: 1.5em;
	}

	#text-header-video{
		font-size: 1.3em;
		position: relative;
		left:1em;
	}
	





	#video{
		
		position: relative;
		left:0em;
		top:-12em;
	}

	iframe{
		height: 12em;
		border-radius:5px;
		min-width: 340px;
		min-height: 350px;
	}


	#texto-auxiliar{
		max-width:70vh;
		position: relative;
		left:-1em;
		top:12em;
		font-weight: 600;
	}

	#header-lista-benificios{
		position: relative;
		top:0em;
		color: #0E0816;
		margin:0.5em;
		font-size: 2em;
	}

	#lista-beneficios{
		max-width:51vh;
		position: relative;
		top:-23em;
		left:1em;
		border:1px solid red;
		list-style: none;
		background: yellow;
	}

	#texto-chamada-final{
		position: relative;
		left:1em;
		font-size: 1.5em;
	}





	.item-lista-beneficios{
		margin:0.5em;
		font-size: 1.2em;
		position: relative;
		left: 0.2em;
	}

	.check-lista-beneficios{
		color:green;
	}

	#btn-retorno-formulario{
		position: relative;
		top:-10em;
		left: 3em;
	}

	#retorno-formulario{
		text-decoration: none;
	}

	

	footer{
		position: relative;
		left:0em;
		top:0;
		text-align: center;
		color:white;
		
		max-width: 340px;
	}

	

	

}




 
/* Celulares até 5,5 Polegadas Tamanho G */
@media (min-width: 376px) and (max-width:  425.98px) { 
			body{
		
	  
	    margin: 0 ;
	    padding: 0;
		 
		 overflow-x: hidden;
		 font-family: Comic Sans MS, Comic Sans, cursive;
		 color:white;
		 
		 
		 background: rgb(71,23,246);
		background: radial-gradient(circle, rgba(71,23,246,0.9560866582961309) 0%, rgba(30,85,147,1) 150%);

		height: 700px;
		

	}

	html{
		 overflow-x: hidden;

	}

	.container-fluid{
		 
		 width: 60vh;

	}

	#header{
		width:410px;
		background: #0E0816; 
		position: relative;
		left:-1em;
	}

	#img-logo{
		max-width:40vh;
		position: relative;
		left:4em;
		

	}

	#head-line{
		max-width:53vh;
		font-size:1em;

	}

	#header-head-line{
		position: relative;
		top:0.5em;
		left:0em;
	}

	.texto-head-line{
		padding-top: 1em;
		min-width:55vh;
		position: relative;
		left:-0.5em;
		top:-0.5em;
		font-size: 1.5em;
		

	}

	#div-formulario{
		margin-top:1em;

		position: relative;
		top:-1em;
	}

	#header-formulario{
		position: relative;
		top:0.4em;
		left:-0.5em;
	}

	.form-control{
		position: relative;
		top:-0.7em;
	}

	

	#campo-nome-ok{
		position: relative;
		top:-1.5em;
		left:11em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-email-ok{
		position: relative;
		top:-1.8em;
		left:11em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-whatsapp-ok{
		position: relative;
		top:-1.8em;
		left:11em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#validacao-whatsapp{
		position: relative;
		top:-3.5em;
		width: 290px;
	}



	#campo-formulario-nome{
		position: relative;
		top:1em;
		left:0.5em;

	}

	#campo-formulario-email{
		position: relative;
		top:-1.6em;
		left:0.5em;
		

	}

	#campo-formulario-whatsapp{
		position: relative;
		top:-5em;
		left:0.5em;
		
	}

	#campo-formulario-aceita-termos{
		position: relative;
		top:-9em;
		left:0.5em;
		
	}

	#btn-enviar{
		position: relative;
		left:0.5em;
		top:-11em;

	}

	#enviar{
		color:gray;
	}

	


	


	.campo-formulario{
		max-width: 365px;
		
	}

	#text-aceita-termos{
		position: relative;
		top:-1.6em;
		left:0.8em;
		

		
	}

	

	#header-video{
		
		font-size: 1.6em;
		position: relative;
		left:0.5em;
	}

	#text-header-video{
		font-size: 1.3em;
		position: relative;
		left:2em;
	}
	





	#video{
		
		position: relative;
		left:-0.2em;
		top:-12em;
	}

	iframe{
		height: 12em;
		border-radius:5px;
		min-width: 390px;
		min-height: 350px;
	}


	#texto-auxiliar{
		min-width:90vh;
		position: relative;
		left:-0.8em;
		top:12em;
		font-weight: 600;
	}

	#header-lista-benificios{
		position: relative;
		top:0em;
		color: #0E0816;
		margin:0.5em;
	}

	#lista-beneficios{
		max-width:51vh;
		position: relative;
		top:-23em;
		left:1em;
		border:1px solid red;
		list-style: none;
		background: yellow;
	}

	.item-lista-beneficios{
		margin:0.5em;
		font-size: 1.5em;

		position: relative;
		left: 0.2em;
	}

	#texto-chamada-final{
		position: relative;
		left:1em;
		font-size: 1.5em;
	}





	.check-lista-beneficios{
		color:green;
	}

	#btn-retorno-formulario{
		position: relative;
		top:-10em;
		left: 4.5em;
	}

	#retorno-formulario{
		text-decoration: none;
	}

	

	footer{
		position: relative;
		left:-1em;
		top:0;
		text-align: center;
		color:white;
	}


}









/* Tablet Menor */
@media (min-width: 426.00px) and (max-width:  768.98px) {
	body{
		
	  
	    margin: 0 ;
	    padding: 0;
		 
		 overflow-x: hidden;
		 font-family: cursive;
		 color:white;
		 
		 
		 background: rgb(71,23,246);
		background: radial-gradient(circle, rgba(71,23,246,0.9560866582961309) 0%, rgba(30,85,147,1) 150%);

		height: 1024px;
		

	}

	html{
		 overflow-x: hidden;

	}

	.container-fluid{
		 
		 width: 60vh;

	}

	#header{
		width:850px;
		background: #0E0816; 
		position: relative;
		left:-10em;
	}

	#img-logo{
		max-width:40vh;
		position: relative;
		left:18em;
		

	}

	#head-line{
		min-width:70vh;
		font-size:1.5em;
		
		position: relative;
		left:-2.7em;

	}

	#header-head-line{
		position: relative;
		top:0.5em;
		left:0em;
		font-size: 2em;
	}

	.texto-head-line{
		padding-top: 1em;
		min-width:55vh;
		position: relative;
		left:0;
		top:-0.5em;
		font-size: 1.5em;
		

	}

	#div-formulario{
		margin-top:1em;

		position: relative;
		top:-1em;
		left:0.5em;
		
		max-height:480px;
		
		/* From https://css.glass */
		background: rgba(1, 2, 3, 0.06);
		border-radius: 16px;
		box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		border: 1px solid rgba(1, 2, 3, 1);

	}

	#header-formulario{
		position: relative;
		top:0.4em;
		left:0em;
		font-size: 2em;
	}

	#formulario{
		position: relative;
		left:3em;
	}

	.form-control{
		position: relative;
		top:-0.7em;
	}

	

	#campo-nome-ok{
		position: relative;
		top:-1.5em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-email-ok{
		position: relative;
		top:-1.8em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-whatsapp-ok{
		position: relative;
		top:-1.8em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#validacao-whatsapp{
		position: relative;
		top:-3.5em;
		width: 290px;
	}



	#campo-formulario-nome{
		position: relative;
		top:1em;
		left:0.5em;

	}

	#campo-formulario-email{
		position: relative;
		top:-1.6em;
		left:0.5em;
		

	}

	#campo-formulario-whatsapp{
		position: relative;
		top:-5em;
		left:0.5em;
		
	}

	#campo-formulario-aceita-termos{
		position: relative;
		top:-6em;
		left:3em;
		
	}

	#aceita-termos{
		position: relative;
		top:-1.5em;
		left: 1em;
	}

	#btn-enviar{
		position: relative;
		left:7em;
		top:-6em;
		max-width: 300px;

	}

	#enviar{
		color:gray;
		font-size: 1em;
	}

	


	


	.campo-formulario{
		max-width: 470px;
		
	}

	#text-aceita-termos{
		position: relative;
		top:-1.6em;
		left:0.8em;
		

		
	}

	

	#header-video{
		
		font-size: 2.4em;
		position: relative;
		left:0.5em;
	}

	#text-header-video{
		font-size: 1.5em;
		position: relative;
		left:5em;
	}
	





	#video{
		
		position: relative;
		left:-0.2em;
		top:0;
	}

	iframe{
		height: 12em;
		border-radius:5px;
		min-width: 600px;
		min-height: 350px;
	}


	#texto-auxiliar{
		min-width:90vh;
		position: relative;
		left:1em;
		top:25em;
		font-weight: 600;
	}

	#header-lista-benificios{
		position: relative;
		top:0em;
		color: #0E0816;
		margin:0.5em;
	}

	#lista-beneficios{
		max-width:60vh;
		position: relative;
		top:-23em;
		left:-2em;
		border:1px solid red;
		border-radius:5%;
		list-style: none;
		background: yellow;
	}

	.item-lista-beneficios{
		margin:0.5em;
		font-size: 1.5em;

		position: relative;
		left: 0.2em;
	}

	#texto-chamada-final{
		position: relative;
		left:1em;
		font-size: 1.5em;
	}





	.check-lista-beneficios{
		color:green;
	}

	#btn-retorno-formulario{
		position: relative;
		top:6em;
		left:10.5em;
	}

	#retorno-formulario{
		text-decoration: none;
	}

	

	footer{
		position: relative;
		left:-1em;
		top:10em;
		text-align: center;
		color:white;
	}

}


/*Tablet G */
@media (min-width: 769.00px) and (max-width:  1024.98px) { 
	body{
		
	  
	    margin: 0 ;
	    padding: 0;
		 
		 overflow-x: hidden;
		 font-family: cursive;
		 color:white;
		 
		 
		 background: rgb(71,23,246);
		background: radial-gradient(circle, rgba(71,23,246,0.9560866582961309) 0%, rgba(30,85,147,1) 150%);

		height: 1366px;
		

	}

	html{
		 overflow-x: hidden;

	}

	.container-fluid{
		 
		 width: 60vh;

	}

	#header{
		width:1080px;
		background: #0E0816; 
		position: relative;
		left:-10em;
	}

	#img-logo{
		max-width:40vh;
		position: relative;
		left:25em;
		

	}

	#head-line{
		min-width:60vh;
		font-size:1.5em;
		
		position: relative;
		left:0em;

	}

	#header-head-line{
		position: relative;
		top:0.5em;
		left:0em;
		font-size: 2em;
	}

	.texto-head-line{
		padding-top: 1em;
		min-width:55vh;
		position: relative;
		left:0;
		top:-0.5em;
		font-size: 1.5em;
		

	}

	#div-formulario{
		margin-top:1em;

		position: relative;
		top:-1em;
		
		max-height:480px;
		min-width:60vh;
		/* From https://css.glass */
		background: rgba(1, 2, 3, 0.06);
		border-radius: 16px;
		box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		border: 1px solid rgba(1, 2, 3, 1);

	}

	#header-formulario{
		position: relative;
		top:0.4em;
		left:0em;
		font-size: 2em;
	}

	#formulario{
		position: relative;
		left:9.5em;
	}

	.form-control{
		position: relative;
		top:-0.7em;
	}

	

	#campo-nome-ok{
		position: relative;
		top:-1.5em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-email-ok{
		position: relative;
		top:-1.8em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-whatsapp-ok{
		position: relative;
		top:-1.8em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#validacao-whatsapp{
		position: relative;
		top:-3.5em;
		width: 290px;
	}



	#campo-formulario-nome{
		position: relative;
		top:1em;
		left:0.5em;

	}

	#campo-formulario-email{
		position: relative;
		top:-1.6em;
		left:0.5em;
		

	}

	#campo-formulario-whatsapp{
		position: relative;
		top:-5em;
		left:0.5em;
		
	}

	#campo-formulario-aceita-termos{
		position: relative;
		top:-6em;
		left:3em;
		
	}

	#aceita-termos{
		position: relative;
		top:-1.5em;
		left: 1em;
	}

	#btn-enviar{
		position: relative;
		left:6em;
		top:-6em;
		max-width: 300px;

	}

	#enviar{
		color:gray;
		font-size: 1em;
	}

	


	


	.campo-formulario{
		max-width: 470px;
		
	}

	#text-aceita-termos{
		position: relative;
		top:-1.6em;
		left:0.8em;
		

		
	}

	

	#header-video{
		
		font-size: 3em;
		position: relative;
		left:1em;
	}

	#text-header-video{
		font-size: 2em;
		position: relative;
		left:5em;
	}
	





	#video{
		
		position: relative;
		left:0.5em;
		top:0;
	}

	iframe{
		height: 30em;
		border-radius:5px;
		min-width: 800px;
		min-height: 350px;
	}


	#texto-auxiliar{
		min-width:90vh;
		position: relative;
		left:2em;
		top:25em;
		font-weight: 600;

	}

	#header-lista-benificios{
		position: relative;
		top:0em;
		color: #0E0816;
		margin:0.5em;
		font-size: 2.5em;
	}

	#lista-beneficios{
		max-width:60vh;
		position: relative;
		top:-23em;
		left:-2em;
		border:1px solid red;
		border-radius:5%;
		list-style: none;
		background: yellow;
	}

	.item-lista-beneficios{
		margin:0.5em;
		font-size: 2em;

		position: relative;
		left: 0.2em;
	}

	#texto-chamada-final{
		position: relative;
		left:2em;
		font-size: 1.8em;

	}





	.check-lista-beneficios{
		color:green;
	}

	#btn-retorno-formulario{
		position: relative;
		top:5em;
		left:17em;
	}

	#retorno-formulario{
		text-decoration: none;
	}

	

	footer{
		position: relative;
		left:-1.5em;
		top:15em;
		text-align: center;
		color:white;
	}

}








/* Laptop */
@media (min-width: 1024.00px) and (max-width:  1440.98px) {
		body{
		
	  
	    margin: 0 ;
	    padding: 0;
		 
		 overflow-x: hidden;
		 font-family: cursive;
		 color:white;
		 
		 
		 background: rgb(71,23,246);
		background: radial-gradient(circle, rgba(71,23,246,0.9560866582961309) 0%, rgba(30,85,147,1) 150%);

		height: 648px;
		

	}

	html{
		 overflow-x: hidden;

	}

	.container-fluid{
		 
		 width: 60vh;

	}

	#header{
		width:1480px;
		background: #0E0816; 
		position: relative;
		left:-35em;
	}

	#img-logo{
		max-width:40vh;
		position: relative;
		left:38em;
		

	}

	#head-line{
		min-width:100vh;
		
		position: relative;
		left:-25em;
		top:0.5em;
		white-space: nowrap;
		text-shadow: 0.1em 0.1em 0.2em black;

	}

	#header-head-line{
		position: relative;
		top:0.5em;
		left:0em;
		font-size: 2em;
	}

	.texto-head-line{
		padding-top: 1em;
		min-width:55vh;
		position: relative;
		left:0;
		top:-0.5em;
		font-size: 1.5em;
		

	}

	#div-formulario{
		margin-top:1em;

		position: relative;
		top:-9em;
		left:16.5em;
		text-shadow: 0.1em 0.1em 0.2em black;
		
		max-height:550px;
		min-width:75vh;
				/* From https://css.glass */
		background: rgba(0, 0, 0, 0.31);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(0, 0, 0, 0.3);

	}

	#header-formulario{
		position: relative;
		top:0.4em;
		left:0em;
		font-size: 2em;
	}

	#formulario{
		position: relative;
		left:0em;
	}

	.form-control{
		position: relative;
		top:-0.7em;
	}

	

	#campo-nome-ok{
		position: relative;
		top:-1.5em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-email-ok{
		position: relative;
		top:-1.8em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-whatsapp-ok{
		position: relative;
		top:-1.8em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#validacao-whatsapp{
		position: relative;
		top:-3.5em;
		width: 290px;
	}



	#campo-formulario-nome{
		position: relative;
		top:1em;
		left:0.5em;

	}

	#campo-formulario-email{
		position: relative;
		top:-1.6em;
		left:0.5em;
		

	}

	#campo-formulario-whatsapp{
		position: relative;
		top:-5em;
		left:0.5em;
		
	}

	#campo-formulario-aceita-termos{
		position: relative;
		top:-6em;
		left:3em;
		
	}

	#aceita-termos{
		position: relative;
		top:-1.5em;
		left: 1em;
	}

	#btn-enviar{
		position: relative;
		left:6em;
		top:-6em;
		max-width: 300px;

	}

	#enviar{
		color:gray;
		font-size: 1em;
	}

	


	


	.campo-formulario{
		max-width: 470px;
		
	}

	#text-aceita-termos{
		position: relative;
		top:-1.6em;
		left:0.8em;
		

		
	}

	

	#header-video{
		
		font-size: 2em;
		position: relative;
		left:3em;
		white-space: nowrap;
	}

	#text-header-video{
		font-size: 1.5em;
		position: relative;
		left:6em;
		white-space: nowrap;
	}
	





	#video{
		
		position: relative;
		left:-25em;
		top:-35em;
		padding-top:0.5em;
		min-width: 100vh;
		text-shadow: 0.1em 0.1em 0.2em black;

				/* From https://css.glass */
		background: rgba(0, 0, 0, 0.31);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(0, 0, 0, 0.3);
	}

	iframe{
		height: 30em;
		border-radius:5px;
		min-width:450px;
		max-height: 300px;
		position: relative;
		left:6em;
		top:-0.5em;
	}


	#texto-auxiliar{
		
		position: relative;
		left:-15em;
		top:-33em;
		font-weight: 600;
		text-shadow: 0.1em 0.1em 0.1em black;

	}

	#header-lista-benificios{
		position: relative;
		top:0em;
		color: #0E0816;
		margin:0.5em;
		font-size: 2.5em;
	}

	#lista-beneficios{
		min-width:120vh;
		position: relative;
		top:-1em;
		left:1.5em;
		border:1px solid black;
		border-radius:5%;
		list-style: none;
		background: yellow;
		box-shadow: 0.1em 0.1em 0.1em black;

	}

	.item-lista-beneficios{
		margin:0.5em;
		font-size: 1.2em;
		position: relative;
		left: 4em;
		text-shadow:none;
	}

	#texto-chamada-final{
		position: relative;
		left:1em;
		font-size: 1.8em;
		color:white;

	}





	.check-lista-beneficios{
		color:green;
	}

	#btn-retorno-formulario{
		position: relative;
		top:-30em;
		left:2.5em;
	}

	#retorno-formulario{
		text-decoration: none;
	}

	

	footer{
		position: relative;
		left:-2em;
		top:-15em;
		text-align: center;
		color:white;
	}

	
}









/* LaptopG */
@media (min-width: 1400.00px) and (max-width:  2560.98px) { 
		body{
		
	  
	    margin: 0 ;
	    padding: 0;
		 
		 overflow-x: hidden;
		 font-family: cursive;
		 color:white;
		 
		 
		 background: rgb(71,23,246);
		background: radial-gradient(circle, rgba(71,23,246,0.9560866582961309) 0%, rgba(30,85,147,1) 150%);

		height: 1108px;
		

	}

	html{
		 overflow-x: hidden;

	}

	.container-fluid{
		 
		 width: 60vh;

	}

	#header{
		width:2580px;
		background: #0E0816; 
		position: relative;
		left:-61em;
	}

	#img-logo{
		max-width:40vh;
		position: relative;
		left:38em;
		

	}

	#head-line{
		min-width:90vh;
		font-size:1.2em;
		position: relative;
		left:-23em;
		top:2em;
		white-space: nowrap;
		border:1px solid red;

	}

	#header-head-line{
		position: relative;
		top:0.5em;
		left:0em;
		font-size: 1.7em;
	}

	.texto-head-line{
		padding-top: 1em;
		min-width:55vh;
		position: relative;
		left:0;
		top:-0.5em;
		font-size: 1.5em;
		

	}

	#div-formulario{
		margin-top:1em;

		position: relative;
		top:-9em;
		left:10em;
		
		max-height:480px;
		min-width:100vh;
		/* From https://css.glass */
		background: rgba(1, 2, 3, 0.06);
		border-radius: 16px;
		box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		border: 1px solid rgba(1, 2, 3, 1);

	}

	#header-formulario{
		position: relative;
		top:0.4em;
		left:0em;
		font-size: 2em;
	}

	#formulario{
		position: relative;
		left:0em;
	}

	.form-control{
		position: relative;
		top:-0.7em;
	}

	

	#campo-nome-ok{
		position: relative;
		top:-1.5em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-email-ok{
		position: relative;
		top:-1.8em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#campo-whatsapp-ok{
		position: relative;
		top:-1.8em;
		left:14.5em;
		color:#00ff11;
		font-size:30px;
		z-index: -1;


	}

	#validacao-whatsapp{
		position: relative;
		top:-3.5em;
		width: 290px;
	}



	#campo-formulario-nome{
		position: relative;
		top:1em;
		left:0.5em;

	}

	#campo-formulario-email{
		position: relative;
		top:-1.6em;
		left:0.5em;
		

	}

	#campo-formulario-whatsapp{
		position: relative;
		top:-5em;
		left:0.5em;
		
	}

	#campo-formulario-aceita-termos{
		position: relative;
		top:-6em;
		left:3em;
		
	}

	#aceita-termos{
		position: relative;
		top:-1.5em;
		left: 1em;
	}

	#btn-enviar{
		position: relative;
		left:6em;
		top:-6em;
		max-width: 300px;

	}

	#enviar{
		color:gray;
		font-size: 1em;
	}

	


	


	.campo-formulario{
		max-width: 470px;
		
	}

	#text-aceita-termos{
		position: relative;
		top:-1.6em;
		left:0.8em;
		

		
	}

	

	#header-video{
		
		font-size: 2em;
		position: relative;
		left:1em;
		white-space: nowrap;
	}

	#text-header-video{
		font-size: 1.5em;
		position: relative;
		left:4em;
		white-space: nowrap;
	}
	





	#video{
		
		position: relative;
		left:-27em;
		top:-29em;
		border:1px solid red;
	}

	iframe{
		height: 30em;
		border-radius:5px;
		min-width:400px;
		max-height: 250px;
		position: relative;
		left:4em;
		top:-0.5em;
	}


	#texto-auxiliar{
		min-width:90vh;
		position: relative;
		left:-30em;
		top:-25em;
		font-weight: 600;

	}

	#header-lista-benificios{
		position: relative;
		top:0em;
		color: #0E0816;
		margin:0.5em;
		font-size: 2.5em;
	}

	#lista-beneficios{
		min-width:200vh;
		position: relative;
		top:-1em;
		left:1.5em;
		border:1px solid red;
		border-radius:5%;
		list-style: none;
		background: yellow;
	}

	.item-lista-beneficios{
		margin:0.5em;
		font-size: 2em;

		position: relative;
		left: 3.5em;
	}

	#texto-chamada-final{
		position: relative;
		left:9em;
		font-size: 1.8em;

	}





	.check-lista-beneficios{
		color:green;
	}

	#btn-retorno-formulario{
		position: relative;
		top:-3em;
		left:5em;
		border:1px soid red;
	}

	#retorno-formulario{
		text-decoration: none;
	}

	

	footer{
		position: relative;
		left:-2em;
		top:0em;
		text-align: center;
		color:white;
	}

}

/* Telas Wide Screen */
@media (min-width: 2559.00px){ }